<div class="container" style="padding: 30px 40px;">
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h2 class="border_yellow">How to enter the prize competitions</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>1. Pick the Competition you wish to enter.</p>
            </div>
            <div class="playpoint">
                <p>2. Select the numbers you would like in the draw.</p>
            </div>
            <div class="playpoint">
                <p>3. Complete the payment formalities.</p>
            </div>
            <div class="playpoint">
                <p>4. Choose the correct answer from the question given before you checkout.</p>
            </div>
            
            <div class="playpoint">
                <p>5. You will be emailed your number in that draw and also placed interactively onto the competition page against your assigned &nbsp;&nbsp;&nbsp;&nbsp;number .</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h2 class="border_yellow">How the winner is picked and when the draws go live</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>1. Only after the timer on the competition is stopped will the draw go ahead. A live streamed video to our host will appear within ‘ten &nbsp;&nbsp;&nbsp;&nbsp;minutes’ of the draw timing out. One random number will be picked out by our
                    random number generator. And then WE HAVE A &nbsp;&nbsp;&nbsp;&nbsp;WINNER!
                </p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h2 class="border_yellow">Delivery to the winner and uploading winner pictures</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>1. The prize will be delivered to the winner within 5 working days from the time of winner announcement. Delivery is free of charge to &nbsp;&nbsp;&nbsp; all United Kingdom addresses.
                    <p>2. The Winning pictures will be uploaded within 7 days on the ‘Winners’ page.</p>
            </div>

        </div>
    </div>
</div>