<div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Users</h4>
        </div>
        <!-- <div class="col-lg-6" style="text-align: end;">
            <button class="btn btn-sm yellow-btn"><i class="fa fa-plus"></i>Add</button>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" style="color: #fff;">
                <thead>
                    <tr style="text-align: center;">
                        <td>S.No</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Status</td>
                        <!-- <td>Edit</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ud of userdata;let i =index" style="text-align: center;">
                        <td>{{i + 1}}</td>
                        <td>{{ud.name}}</td>
                        <td>{{ud.email}}</td>
                        <td>{{ud.phone}}</td>
                        <td *ngIf="ud.active == 1">
                            <span class="badge badge-warning">Active</span>
                        </td>
                        <td *ngIf="ud.active == 0">
                            <span class="badge badge-danger">In-Active</span>
                        </td>
                        <!-- <td>
                            <a href="#" style="">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td> -->
                    </tr>
                    <tr *ngIf="isloading">
                        <td colspan="5" class="col-lg-12" style="text-align: center;">
                            <span class="spinner-border text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="emptyusetrdata" style="text-align: center;">
                        <td colspan="6">No Data Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>