<div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-6">
            <h4>Coupon</h4>
        </div>
        <div class="col-lg-6" style="text-align: end;">
            <button class="btn btn-sm yellow-btn" [routerLink]="['/add-coupon']"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" style="color: #fff;">
                <thead>
                    <tr style="text-align: center">
                        <td>S.No</td>
                        <td>Coupon</td>
                        <td>Code</td>
                        <td>Valid From</td>
                        <td>Valid To</td>
                        <td>Status</td>
                        <td>Edit</td>
                        <td>Delete</td>
                        <!-- <td>Edit</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cd of couponarraydata;let i = index" style="text-align: center;">
                        <td>{{i + 1}}</td>
                        <td>{{cd.coupon}}</td>
                        <td>{{cd.code}}</td>
                        <td>{{cd.valid_from}}</td>
                        <td>{{cd.valid_to}}</td>
                        <td *ngIf="cd.is_active == 0">
                            <span class="badge badge-danger" style="font-size: 12px;">In-Active</span>
                        </td>
                        <td *ngIf="cd.is_active == 1">
                            <span class="badge badge-success" style="font-size: 12px;">Active</span>
                        </td>
                           <!-- <td>
                                <ui-switch  [checked] = "cd.is_active == 1 ? 'true' : 'false'"  (change)="onChange($event,cd)" size="small"></ui-switch>
                            </td> -->
                        <td>
                            <a href="javascript:void(0)" style="" (click)='edit_coupon(cd)'>
                                <button class="btn btn-sm btn-primary">
                                <i class="fa fa-edit icon"></i>
                            </button>
                            </a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" style="" (click)='delete_coupon(cd)'>
                                <button class="btn btn-sm btn-danger">
                                <i class="fa fa-trash icon"></i>
                            </button>
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="isloading">
                        <td colspan="8" class="col-lg-12" style="text-align: center;">
                            <span class="spinner-border text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="emptycoupondata" style="text-align:center">
                        <td colspan="8">No Data Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>