<div class="container" style="padding: 30px 40px;">
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h2 class="border_yellow">TERMS AND CONDITIONS</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">1. General</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>1.1 These terms and conditions apply to all competitions featured on any social media platform that are organised and operated by INSERT COMPANY NAME Limited (“We/Us/Our”) (or a third party on Our behalf).</p>
            </div>
            <div class="playpoint">
                <p>1.2 By entering a competition entrants accept these terms and conditions together with any specific instructions and terms for such competition which may be mentioned in any electronic messages, or on the website, or communicated to entrants
                    in any other way (“competition information”). Such competition information shall prevail in the event of there being any inconsistency between these competition terms and conditions and any competition information.</p>
            </div>
            <div class="playpoint">
                <p>1.3 We may cancel or amend any competition, competition information, or these terms and conditions without prior notice to entrants. Any changes made by Us will be posted either within the competition information or these terms and conditions.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">2. Competition Entry </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>2.1 The competition is open to all residents aged 16 or over of the United Kingdom, i.e. England, Northern Ireland, Scotland, and Wales. For the avoidance of doubt, Jersey, Guernsey, and the Isle of Man are not part of the United Kingdom
                    for these purposes.</p>
            </div>
            <div class="playpoint">
                <p>2.2 We may ask competition winners for proof of UK residency and if a competition winner is unable to prove their residency to Our satisfaction (i.e. prove that they are physically present in the UK for 183 days or more in the previous
                    or current UK tax year).</p>
            </div>
            <div class="playpoint">
                <p>2.3 We reserve the right to select an alternative winner. Employees and members of their immediate families (including any live-in partner or household member) of INSERT COMPANY NAME (and our agents, subsidiaries, or those employed by
                    any parent or group companies, including those of any third party companies (including but not limited to, any company assisting with marketing or operation of the competition) are not permitted to enter and any such entrants will
                    be disqualified. </p>
            </div>
            <div class="playpoint">
                <p>2.4 The opening and closing dates and times for entries are as indicated in the competition information. We will provide a 7 day countdown to the closing date, if any entries remain unsold after that 7 day countdown has concluded will
                    result in a further extension of the closing date for a period of 7 days. This process will repeat until such time as all entries are sold. </p>
            </div>
            <div class="playpoint">
                <p>2.5 By entering the competition entrants warrant that all information submitted by them is true, current, and complete. Entrants also warrant that they are the copyright owners of any copyright works submitted, e.g. photographs and drawings,
                    and Our use of such works (which you will permit) will not infringe the rights of any third party. You agree to hold Us harmless in respect of any action arising from any breach of intellectual property action arising from your entry
                    to the competition. </p>
            </div>
            <div class="playpoint">
                <p>2.6 Any limit on the number of entries a person or household may make will be clearly stated in the competition information. Entries received that exceed this limit will be invalid and will not be entered into the competition.</p>
            </div>
            <div class="playpoint">
                <p>2.7 Entry to the competition may only be made through the applicable method(s) indicated in the competition information. Not all of the following methods of entry may be available for entry to each competition. The following terms and
                    conditions will apply where the method is indicated as being available in the competition information. Where entrants pay an entry fee, they must have the permission of the bill payer before entering; otherwise the entry will be invalid.</p>
            </div>
            <div class="playpoint">
                <p>(a) Text (“SMS”) entry</p>
            </div>
            <div class="playpoint">
                <p>• Where specified in the competition information as an available method of entry to the competition, SMS entrants are required to send a text to the shortcode or number as indicated in the competition information.</p>
            </div>
            <div class="playpoint">
                <p>• Texts received by Us will be charged at the standard operator rate, which will vary depending on the entrant’s mobile network provider. When a text message is received from Us, sent to the same mobile phone from which the answer was
                    sent, acknowledging receipt of the entry (a “Text Acknowledgement”), this will result in the entrant being charged the charge stated in the competition information. </p>
            </div>
            <div class="playpoint">
                <p>• Please check with the relevant mobile network provider what standard network charge will apply. In the event that the entrant has insufficient funds, credits or capacity on their handset (as applicable) for the Text Acknowledgement to
                    be successfully sent by Us and received by the entrant within 72 hours of the original entry being received by Us, the relevant entry will be deemed ineligible and will not be accepted.</p>
            </div>
            <div class="playpoint">
                <p>• Entries sent by text message which are received after the stated competition closing time will be invalid and will not be entered into the competition. If a text message entry is received by Us after the stated competition closing time,
                    the entrant will receive a free text message from Us informing them that their entry was received late and was not therefore entered into the competition; however, the entrant will not be entitled to a refund of the standard network
                    charge imposed by the entrant’s mobile network when they entered the competition by text message.</p>
            </div>
            <div class="playpoint">
                <p>• SMS entries received after the notified competition closing time will not be valid. We accept no liability for any SMS entry charges incurred regardless of whether the entry is received before the competition closing time. SMS entrants
                    may opt out of receiving any marketing messages in the confirmation message (please see rule 29 of these terms and conditions).</p>
            </div>
            <div class="playpoint">
                <p>(b) Web entry</p>
            </div>
            <div class="playpoint">
                <p>• Where specified in the competition information as an available method of entry to the competition, web entrants are required to follow the instructions on the website as indicated in the competition information. Entrants will receive
                    a message confirming entry to the competition. </p>
            </div>
            <div class="playpoint">
                <p>• Web entrants may be required to supply their name, and/or email address and/or a contact telephone number and/or any other details.</p>
            </div>
            <div class="playpoint">
                <p>• In the event that entrants are required to pay to enter online, entrants will need to use the relevant payment service indicated in the competition information, and may need to open an account and register to pay for online entry to
                    the competition. </p>
            </div>
            <div class="playpoint">
                <p>• Online entry costs will be as indicated in the competition information. Entrants must read and accept the terms and conditions relating to the online entry pay service before proceeding with such a web entry.</p>
            </div>
            <div class="playpoint">
                <p>(c) Email entry</p>
            </div>
            <div class="playpoint">
                <p>• Where specified as an available method of entry to the competition, e-mail entrants may enter the competition by sending an e-mail with the information indicated in the competition information and at the email address indicated. There
                    is no charge for email entries. Entrants may receive a message confirming their entry to the competition.</p>
            </div>
            <div class="playpoint">
                <p>(d) Mobile Internet entry</p>
            </div>
            <div class="playpoint">
                <p>• Where available, entrants may enter the competition by Mobile Internet. Eligible entrants are required to click on the link to the competition on the relevant Mobile Internet webpage and follow instructions to provide the required information
                    to enter the competition. </p>
            </div>
            <div class="playpoint">
                <p>• Entries without all the required information will be invalid. Entrants will be charged £[1.50] for entering a competition via Mobile Internet together with any applicable network charges. </p>
            </div>
            <div class="playpoint">
                <p>• Some mobile network operators will include the £1.50 charge on the entrant’s telephone bill; others will send a Text Acknowledgement which will result in the entrant being charged £1.50. Mobile network operators may also charge their
                    customers for using the Mobile Internet/browsing tools. </p>
            </div>
            <div class="playpoint">
                <p>• Entrants should contact their network operator for more details as these charges may vary depending on the entrant’s mobile network operator and tariff.</p>
            </div>
            <div class="playpoint">
                <p>(e) Entry via Social Network Sites</p>
            </div>
            <div class="playpoint">
                <p>• Where specified as an available method of entry to the competition, Social Network Site entrants may enter the competition by responding with the information indicated in the competition details by posting their answer within their comment.
                    There is no charge for such entries.</p>
            </div>
            <div class="playpoint">
                <p>(f) Entry via Post</p>
            </div>
            <div class="playpoint">
                <p>• To enter any Competition draw each month for free, entrants must first create an account on our website and then send their name, address, date of birth, e- mail address and contact telephone number on a postcard to the Promoter. The
                    Promoter will then assign the free entries to the corresponding account on receipt. </p>
            </div>
            <div class="playpoint">
                <p>• Free entries must be posted to: INSERT ADDRESS and must arrive by the Competition closing date. Any entries received after the closing date will not be entered into the competition and will not be returned. </p>
            </div>
            <div class="playpoint">
                <p>• First or second-class postage must be paid. Postal Entries are limited to one Entry to each Competition per postcard. </p>
            </div>
            <div class="playpoint">
                <p>• The Entrant must specify which Competition draw they wish to enter. </p>
            </div>
            <div class="playpoint">
                <p>• The Entrant will be entered into the draw in the same way as any paid entry. All free Entries will be treated in the exact same way as a paid Entries. </p>
            </div>
            <div class="playpoint">
                <p>• Where applicable, these Competition terms and conditions also apply to free Entries. All free entries are processed on Monday's of each week.</p>
            </div>
            <div class="playpoint">
                <p>2.8 Neither We nor Our servants, agents, nor any other party or organisation involved in the management, promotion, or administration of the competition or its entry routes or donation of prizes or their agents or subsidiaries involved
                    in the competition will accept responsibility or liability for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft, destruction, alteration of, or unauthorised
                    access to entries, or entries lost or delayed whether or not arising during operation or transmission as a result of server functions (including but not limited to security functions by software used by Us or any third party), virus,
                    bugs, or other causes outside its control.</p>
            </div>
            <div class="playpoint">
                <p>2.9 Entries submitted through agents or third parties or in bulk (i.e. more entries than a human being could submit in the time available without the use of software or other devices designed to make automated entries or, in the case of
                    postal entries, more than one entry submitted under the same postage stamp) will not be accepted. Entrants may enter as many times as they like unless otherwise indicated in the competition information but no more than one prize per
                    person per competition will be awarded.</p>
            </div>
            <div class="playpoint">
                <p>2.10 Any entries which are incomplete, incorrect, inaudible, incomprehensible, or not received by Us will be void.</p>
            </div>
            <div class="playpoint">
                <p>2.11 In the event of any fault, mistake, misunderstanding or dispute concerning the correctness or acceptability of the entry or any answers given by entrants (if applicable), or the operation of any part of the competition (in the case
                    of postal entries, a postal strike for example), network or phone system, our decision shall be final and no correspondence will be entered into.</p>
            </div>
            <div class="playpoint">
                <p>2.12 We will not be liable to reimburse expenses incurred in making an entry in any competition. Where We decide in Our sole discretion that an entrant is eligible for a refund, eligibility for refunds will be notified to relevant entrants.
                    We reserve the right to refuse to refund any messages where it suspects dishonest or fraudulent conduct on the sender’s part or where the entrant has not complied with the rules of the competition.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">3. Prizes</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>3.1 The prize is as specified in the competition information.</p>
            </div>
            <div class="playpoint">
                <p>3.2 Where the winner is required to speak for the purposes of a film or video production they must appear to be able to communicate clearly and appropriately for the production in question. We reserve the right to select an alternative
                    winner in the event that these requirements are not met.</p>
            </div>
            <div class="playpoint">
                <p>3.3 The process for determining the winner of the prize is as indicated in the competition information. Where the winner is randomly selected from all correct and valid entries, the draw for the winner will take place within 7 days of
                    the date on which the competition closes.</p>
            </div>
            <div class="playpoint">
                <p>3.4 Prize draw prizes will be awarded in accordance with the laws of chance and, if required by law or regulation, under the supervision of an independent observer. Any competition requiring a subjective assessment in the selection of
                    winning entries will be judged by Us or as indicated in the competition information and, if required by law or regulation, an independent judge or a panel including one member who is independent of the competition’s promoters and intermediaries.</p>
            </div>
            <div class="playpoint">
                <p>3.5 Should more prizes be claimed than are available for any reason, a simple prize draw will take place for the available prize(s).</p>
            </div>
            <div class="playpoint">
                <p>3.6 We will attempt to notify the winner within 21 days after the closing date, or as otherwise indicated in the competition information, and where time is of the essence for such a period as We shall in Our absolute discretion deem reasonable.
                    He/she will be contacted on the phone number, by SMS text, or email address provided when entering the competition. </p>
            </div>
            <div class="playpoint">
                <p>3.7 The winner will have a specified fixed time period in which to claim his or her prize. If We are unable to notify the winner, or if the winner fails to respond within the fixed time period as specified and/or provide an address for
                    delivery of the prize, this may result in forfeiture of the prize and We reserve the right to select an alternative winner in accordance with these terms and conditions and the competition information.</p>
            </div>
            <div class="playpoint">
                <p>3.8 We may in Our sole discretion refuse to provide a prize, or seek its recovery, in the event of non-entitlement under these terms or an entrant’s breach of these terms, Our website terms of use, fraud, dishonesty, or other inappropriate
                    or improper conduct including but not limited to the use of technology which enables an entrant to evade charges or entry requirements.</p>
            </div>
            <div class="playpoint">
                <p>3.9 Any entrant who enters or attempts to enter the Competition in a manner, which in Our determination is contrary to these terms and conditions or by its nature is unfair to other entrants may be removed from the Competition at Our sole
                    discretion.
                </p>
            </div>
            <div class="playpoint">
                <p>3.10 We reserve the right to modify, cancel, terminate or suspend the Competition in whole or in part, at its sole discretion, if We believe the Competition is not capable of being conducted as specified in these terms and conditions or
                    in the event of a virus, computer bug or unauthorised human intervention or any other cause that is beyond our reasonable control that could corrupt or affect the administration, security, impartiality, or normal course of the Competition.</p>
            </div>
            <div class="playpoint">
                <p>3.11 We reserve the right in its sole discretion to withhold delivery of the prize until such proof of eligibility and identity has been confirmed or if such proof is not produced on request or to disqualify the entrant from the competition.</p>
            </div>
            <div class="playpoint">
                <p>3.12 We shall try to deliver the prize to the winner within 28 days from the date of the draw, unless otherwise specified to the winner. Delivery restrictions may apply. No cash equivalent (where applicable) or alternative prize will be
                    given and the prize is non-transferable and non-exchangeable. However, We reserve the right to change the prize due to circumstances beyond Our control or to offer an alternative of similar value.</p>
            </div>
            <div class="playpoint">
                <p>
                    3.13 In relation to all competitions, the first name and surname of the winner may be published by Us and entrants grant Us a non-exclusive licence to use and publish their entry in any media for the purpose of announcing the winner.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">4. Data Protection and Publicity</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>4.1 We (or any third party nominated by US) may exercise Our sole discretion to use the winner’s (and (if applicable) their companion’s) name, address, and image and their comments relating to the prize and competition experience for future
                    promotional, marketing and publicity purposes in any media worldwide without notice or without any fee being paid.</p>
            </div>
            <div class="playpoint">
                <p>4.2 Information, data and the caller line identity (“personal data”) which is provided by entrants when they enter will be held and used by Us and Our suppliers and contractors in order to administer the competition. If entrants call from
                    a withheld caller line identity and do not provide their caller line identity when entering the competition, We may use the withheld caller line identity for customer care purposes such as refunds or communications relating to a service
                    e.g. to notify a winner. Entrants’ personal data may also be passed to their mobile phone network or to relevant regulatory bodies including PhonePayPlus, the police or other authorities in the course of the investigation of any complaints
                    or suspected unlawful activity or where requested by the phone provider in connection with the billing arrangements for the competition. Aggregate, non personal data may also be used for the purpose of undertaking market research or
                    in facilitating reviews, developments and improvements to relevant services.
                </p>
            </div>
            <div class="playpoint">
                <p>4.3 By submitting their personal details, the entrant agrees to Us processing those details in accordance with the purposes made known the entrant at the time of collection and in accordance with Our privacy policy which can be viewed
                    at INSERT POLICY.</p>
            </div>
            <div class="playpoint">
                <p>4.4 We shall comply with all applicable requirements of the Data Protection Act 2018, the General Data Protection Regulation, any successor legislation or other applicable law.</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">5. Liability</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>5.1 Nothing in these terms and conditions shall exclude or limit Our liability for death or personal injury caused by Our staff or supplier’s negligence or for fraud. Subject to this, We cannot accept any responsibility for any damage,
                    loss, injury or disappointment suffered by any entrant entering the competition or as a result of accepting any prize. We are not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line
                    systems, servers, or providers, computer equipment, software failure of any email or entry to be received on account of technical problems or traffic congestion on the Internet, telephone lines or at any web site, or any combination
                    thereof, including any injury or damage to entrant’s or any other person’s computer or mobile telephone related to or resulting from participation or downloading any materials in the competition.
                </p>
            </div>
            <div class="playpoint">
                <p>5.2 We cannot promise that the services relating to the competition will be free from errors or omissions nor that they will be available uninterrupted and in a fully operating condition.These services may be suspended temporarily and
                    without notice in the case of system failure, maintenance or repair or for reasons reasonably beyond Our control. We will not be liable in the event that all or any part of the service relating to the competition is discontinued, modified
                    or changed in any way.
                </p>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="">
            <div class="heading_blog">
                <h4 class="border_yellow">6. Standard terms</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="playpoint">
                <p>6.1 In the event that any entrant does not, or is unable to, comply with and meet these terms and conditions and the competition information, We shall be entitled at Our sole discretion to disqualify such entrant, without any further liability
                    to such entrant. In these circumstances, any prize(s) won by the entrant may be forfeited and We reserve the right to reclaim any prize(s) already distributed to the entrant. Any entrant must comply with any directions given to him
                    or her by Us including but not limited to any and all relevant laws, rules and applicable regulatory codes. </p>
            </div>
            <div class="playpoint">
                <p>6.2 The invalidity or unenforceability of any provision of these Terms and Conditions shall not affect the validity or enforceability of any other provision. In the event that any provision is determined to be invalid or otherwise unenforceable
                    or illegal, these Terms and Conditions shall otherwise remain in effect and shall be construed in accordance with their terms as if the invalid or illegal provision were not contained herein. </p>
            </div>
            <div class="playpoint">
                <p>6.3 Please note that calls may be recorded to ensure that competition entries are captured, for staff training and quality control purposes.

                </p>
            </div>
            <div class="playpoint">
                <p>6.4 The promoter of the competition is INSERT COMPANY DETAILS. </p>
            </div>
            <div class="playpoint">
                <p>6.5 These terms and conditions were last updated on INSERT DATE. </p>
            </div>

        </div>
    </div>
</div>