<div class="container">
    <div class="contentrow">
        <div class="row" style="margin-bottom: 25px;">

            <h2 class="border_yellow">Competitions Winners</h2>

        </div>
    </div>
    <!-- <div class="row justify-content-center do-winners-podium-wrapper" style="padding-bottom: 40px;">
        <div class="col-lg-12">
            <div class="monthly-based-carousel">
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="fa fa-angle-left"></i></button><span>May 2020</span><button type="button" role="presentation" class="owl-next"><i class="fa fa-angle-right"></i></button></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="single-week-box text-center">
                        <h4>Wednesday, 27th</h4><svg height="20px" width="20px" viewBox="0.5 0 10 10" xmlns="http://www.w3.org/2000/svg"><circle cx="5" cy="5" r="2.5" style="fill: rgb(245, 166, 35);"></circle></svg>
                        <div class="podium-connector"></div>
                        <div class="video-box">
                            <div class="play-wrap" style="background-image: url('assets/img/smd/win1.jpg');">
                                <div class="winner-title-wrapper col-sm-12">
                                    <div class="winner-title"></div>
                                </div>
                            </div>
                            <div class="video-nav">
                                <a href="javascript:void(0)" class="single-nav mfp-iframe" data-title="HIS &amp; HERS FRAGRANCE ">View Live Draw Video</a>
                                <a href="javascript:void(0)" class="single-nav mfp-iframe do-winners-podium-video" data-title="HIS &amp; HERS FRAGRANCE ">View Winner Video</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="base-model" tabindex="-1" role="dialog" aria-labelledby="base-model-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="base-model-title"></h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                            <div class="react-player" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-4" *ngFor="let bd of winnerarraydata;let i = index" style="margin-bottom: 30px;">
            <a href="javascript:void(0)">
                <div class="card" style="height: 468px !important">
                    <div class="card-header text-center" style="color: #000000;">
                        {{bd.competition}}
                      </div>
                    <img src="{{bd.image}}" alt="winnerpodium" class="card-img-top"
                        onerror="this.onerror=null;this.src='assets/img/smd/logo.png';" style="height: 316px;">
                    <div class="card-body" style="padding: 7px !important;">
                        <!-- <p class="card-text">{{bd.title}}</p> -->
                        <!-- <div class="video-nav"> -->
                            <a href="javascript:void(0)" (click)="viewlivedraw('livevideo',bd)" class="single-nav mfp-iframe"
                                data-title="HIS &amp; HERS FRAGRANCE ">View Live Draw Video</a>
                            <a href="javascript:void(0)" (click)="viewlivedraw('winnervideo',bd)" class="single-nav mfp-iframe do-winners-podium-video"
                                data-title="HIS &amp; HERS FRAGRANCE ">View Winner Video</a>
                        <!-- </div> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12" *ngIf="emptywinnerdata">
            <p >
                No Data Found
            </p>
        </div>

    </div>
    <div *ngIf="isloading" class="row" style="text-align: center;margin-top: 20px;">
        <div class="col-lg-12">
            <span class="spinner-border text-warning" role="status">
            <span class="sr-only">Loading...</span>
            </span>
        </div>
    </div>
</div>

<div class="modal fade" id="vediomodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="defaultModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
                <div class="modal-body" style="text-align: center;justify-content: center;">
                    <!-- <iframe width="100%" height="345" src="assets/vedio/smdvedio.mp4" autoplay = "false"> -->
                        <video width="100%" height="322" controls style="outline: none;">
                            <source [src]= 'src' type="video/mp4">
                                
                        </video>
                    <!-- </iframe> -->

                </div>
                <!-- <div class="modal-footer">
                    <button class="modal-checkout" (click)="gotoaddress_select()"
                        style="font-size: 13px;font-weight:600;margin-left: 20px;margin: auto;">
                        <i class="fa" [ngClass]="{'fa-spin fa-spinner': checkoutloading}"></i>CONTINUE</button>
                </div> -->
            
        </div>
    </div>
</div>
