<div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-6">
            <h4>sales Reports</h4>
        </div>
        <!-- <div class="col-lg-6" style="text-align: end;">
            <button class="btn btn-sm yellow-btn" [routerLink]="['/add-coupon']"><i class="fa fa-plus"></i> Add</button>
        </div> -->
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="salereportform">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Select Competition</label>
                            <select class="form-control" name="competition" placeholder="Select Competition" style="padding: 8px;cursor: pointer;" id="competition" formControlName="competition" (change)="change_competition($event)">
                    <option value="">Select Competition</option>
                        <option *ngFor="let cd of competitionarray" [value]="cd.id">{{cd.competition}}</option>
                    </select>
                            <div *ngIf="isSubmitted && formControls.competition.errors" class="help-block">
                                <span *ngIf="formControls.competition.errors.required">
                            competition is required
                        </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Start Date</label>
                            <div class='input-group'>
                                <input angular-mydatepicker type="text" class="form-control" placeholder="Start date" formControlName="start_date" name="start_date" [options]="myDatePickerOptions" #dp1="angular-mydatepicker" (dateChanged)="onDateChanged($event,'start_date')" />
                                <div class=" input-group-append ">
                                    <span class="input-group-text "> <a style="cursor: pointer; " class="fa fa-calendar " (click)="dp1.toggleCalendar() "></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>End Date</label>
                            <div class='input-group'>
                                <input angular-mydatepicker type="text" class="form-control" placeholder="End Date" formControlName="end_date" name="end_date" [options]="myDatePickerOptions1" #dp2="angular-mydatepicker" (dateChanged)="onDateChanged($event,'start_date')" />
                                <div class=" input-group-append ">
                                    <span class="input-group-text "> <a style="cursor: pointer; " class="fa fa-calendar " (click)="dp2.toggleCalendar() "></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group pull-right">

                    <button type="button" class="btn yellow-btn" [disabled]="!salereportform.valid" (click)="generatePdf()">
                                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>Get Report</button>
                </div>
            </form>
        </div>
    </div> -->
    <div>
        <div class="row">
            <div class="col-md-12">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered"
                    style="color: #fff;">
                    <thead>
                        <tr style="font-size: 13px;font-weight: bold;text-align: center;">
                            <td>No</td>
                            <td>Competition</td>
                            <td style="white-space: nowrap;">Start Date</td>
                            <td style="white-space: nowrap;">End Date</td>
                            <td>View</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sra of salediscountarray;let i = index"
                            style="font-size: 13px;text-align: center;">
                            <td>{{i+1}}</td>

                            <td>{{sra.competition}}</td>
                            <td>{{sra.draw_start_date_time}}</td>
                            <td>{{sra.draw_end_date_time}}</td>
                            <td style="text-align: center;">
                                <a href="javascript:void(0)" style="color: #fff;" (click)="viewsale_report(sra)">
                                    <button class="btn btn-sm btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="isloading">
                            <td colspan="5" class="col-lg-12" style="text-align: center;">
                                <span class="spinner-border text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="emptysalediscountdata" style="text-align:center">
                            <td colspan="5">No Data Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>