<div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-6">
            <h4>View Sales Reports</h4>
        </div>
        <div class="col-lg-6" style="text-align: end;">
            <button class="btn btn-sm yellow-btn" [routerLink]="['/daily-sale-report']"><i class="fa fa-close"></i> </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" style="color: #fff;">
                <thead>
                    <tr style="font-size: 13px;font-weight: bold;text-align: center;">
                        <td>No</td>
                        <!-- <td>User Image</td> -->
                        <td>Sale Date</td>
                        <td>Discount Type</td>
                        <td>Discount</td>
                        <!-- <td>Edit</td> -->
                        <!-- <td>Delete</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dd of salesdiscountdatesarray;let i = index" style="font-size: 13px;text-align: center;">
                        <td>{{i+1}}</td>
                        <td>{{dd.sale_date}}</td>
                        <td>{{dd.discount}}</td>
                        <td>{{dd.value}}</td>
                        <!-- <td style="text-align: center;">
                            <a href="javascript:void(0)" style="color: #fff;" (click)="editfreeticketuser(fu)">
                                <button class="btn btn-sm btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                            </a>
                        </td> -->
                        <!-- <td style="text-align: center;">
                            <a href="javascript:void(0)" style="" (click)="delete_freeticketuser(fu)" style="color: #fff;">
                                <button class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                            </a>
                        </td> -->
                    </tr>
                    <tr *ngIf="isloading">
                        <td colspan="5" class="col-lg-12" style="text-align: center;">
                            <span class="spinner-border text-warning" role="status">
                                <span class="sr-only">Loading...</span>
                            </span>
                        </td>
                    <tr *ngIf="emptysalediscountdate" style="text-align:center">
                        <td colspan="5">No Data Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
